﻿@model  List<testApp.Models.Supervisor>

    <select>
        @foreach (Supervisor supervisor in Model) {
            <option>
                @supervisor.FirstName
            </option>
        }
    </select>