﻿
@model List<testApp.Models.Student>

@{
    ViewData["Title"] = "Students";
}

<style>
    form input {
        width: 250px;
        padding: 4px;
        margin-bottom: 7px;
    }

    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>

<h2>Students</h2>

<form asp-action="InsertStudent">
    <input type="text" name="FirstName" placeholder="First Name" required />
    <br />
    <input type="text" name="LastName" placeholder="Last Name" required />
    <br />
    @Html.Partial("PartialViewSupervisor", new List<Supervisor>())
    
    <br /><br />
    <input type="submit" value="Submit" style="width:6em;" />
</form>

<table>
    <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Supervisor ID</th>
        <th>Functionality for updating</th>
        <th>Functionality for deleting</th>
    </tr>
    <tr>
        @foreach (Student student in Model) {
        <tr>
            <td>@student.Id</td>
            <td>@student.FirstName</td>
            <td>@student.LastName</td>
            <td>@student.SupervisorId</td>
        </tr>
    }
    </table>


