﻿@model List<Supervisor>

@{
    ViewData["Title"] = "Supervisor";
}
<style>
    form input {
        width: 250px;
        padding: 4px;
        margin-bottom: 7px;
    }

    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>
<h2>Supervisors</h2>
<form asp-action="InsertSupervisor">
    <input type="text" name="FirstName" placeholder="First Name" required />
    <br />
    <input type="text" name="LastName" placeholder="Last Name" required />
    <br />
    <input type="submit" value="Submit" style="width:6em;" />
</form>

<table>
    <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Functionality for updating</th>
        <th>Functionality for deleting</th>
    </tr>
    <tr>
        @foreach (var supervisor in Model) {
    <tr>
        <td>@supervisor.Id</td>
        <td>@supervisor.FirstName</td>
        <td>@supervisor.LastName</td>
        <td><a asp-action="Update" asp-route-id="@supervisor.Id">Update</a></td>
        <td><form asp-action="singlesupervisor" method="post" asp-route-id="@supervisor.Id"><button>Delete</button></form></td>
    </tr>
    }
    </table>
