﻿@model testApp.Models.Supervisor



@{
    ViewData["Title"] = "Update";
}
    <style>
        form input {
            width: 250px;
            padding: 4px;
            margin-bottom: 7px;
        }

        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>

<h2>Update</h2>

<form method="post">
    <label>ID</label>
    <br />
    <input type="text" asp-for="Id" readonly />
    <br />
    <label>First Name</label>
    <br />
    <input type="text" asp-for="FirstName" required />
    <br />
    <label>Last Name</label>
    <br />
    <input type="text" asp-for="LastName" required />
    <br />
    <input type="submit" value="Submit" style="width:6em;" />
</form>
